header.header
    .header__content
        .header__left
            a.header__logo(href="/")
                img(src="img/logo.svg", alt="alt")

        nav.header__right
            input.navbar__swicher#navbar_toggle(type="checkbox")
            label(for="navbar_toggle").navbar__toggle
            ul.navbar
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") Главная
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") Об авторе
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") Работы
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") Процесс
                li.navbar__item
                    a.navbar__link(href=baseDir+"#") Контакты
